language: rust
cache: cargo
rust:
    - nightly
before_script:
    - rustup component add rustfmt-preview
script:
    - cargo fmt --all -- --check
    - cargo build --verbose
    - cargo test --verbose
